---
import { QuoteIcon } from "lucide-react";

interface Props {
  author?: string;
  source?: string;
}

---

<blockquote class="relative my-8 border-l-4 border-primary-500/50 bg-slate-900/50 pl-6 pr-4 pt-6 pb-4 rounded-sm">
  <QuoteIcon className="absolute left-2 top-1 size-6 text-primary-500/10 rotate-180" />
  <div class="relative text-center [&>p]:text-primary-300 italic [&>p]:mb-0 [&>p:last-child]:mb-0">
    <slot />
  </div>
</blockquote>
